!!!
%html{lang: "en-US"}
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width", name: "viewport"}

    %title ServeCon | The Online Conference for Process Servers
    %meta{:content => "ServeCon is an online conference for process servers.", :name => "description"}
    %meta{:content => "servecon, process server, server, servers, process of service, conference, online, 2015, serve", :name => "keywords"}

    %link{href: "application.css", media: "all", rel: "stylesheet", type: "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{href: "colorbox.css", media: "all", rel: "stylesheet", type: "text/css"}

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-209728-29', 'auto');
    ga('send', 'pageview');
    </script>

  %body
    %header.app_header.js_win_height.text_center
      .app_header_bg

      .btn_menu.text_right
        %span{data: {'toggle' => '.js_site_nav'}, class: "fa fa-bars"}

      %nav.app_nav.js_site_nav
        %a{:href => "index.html"} Home

        %a{:href => "index.html#a-speakers", data: {'anchor' => '#a-speakers'}} Speakers

        %a{:href => "index.html#a-sessions", data: {'anchor' => '#a-sessions'}} Sessions

        %a.nav_btn{:href => "https://www.youtube.com/playlist?list=PLld2CrOWUS9z25vP2jSi-fuSmEDi2sQvM"} Watch Now

        %a{:href => "help.html"} Help

        %a{:href => "contact.html"} Contact

      .main_feature
        %svg.app_logo.home_page.align_center{"enable-background" => "new 0 0 419.693 97.847", :height => "97.847px", :space => "preserve", :version => "1.1", :viewbox => "0 0 419.693 97.847", :width => "419.693px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}

          %path{:d => "M412.128 47.328c-2.99 3.049-7.107 4.573-12.35 4.57 c-0.342 0-0.684-0.016-1.026-0.043c-0.342-0.03-0.684-0.042-1.025-0.042c-1.424-0.172-2.792-0.513-4.103-1.027 c-1.311-0.512-2.393-1.337-3.247-2.478c-0.571-0.797-0.982-1.638-1.24-2.521c-0.256-0.883-0.384-1.78-0.384-2.692 c0-0.456 0.028-0.911 0.086-1.367c0.056-0.456 0.112-0.883 0.17-1.282c0.172-0.911 0.413-1.823 0.727-2.735 c0.313-0.911 0.612-1.765 0.897-2.564c0.057-0.171 0.172-0.455 0.342-0.854c0.172-0.398 0.37-0.854 0.599-1.368 c0.057-0.285 0.128-0.556 0.214-0.812c0.085-0.256 0.185-0.526 0.298-0.812c0.114-0.456 0.214-0.897 0.3-1.324 c0.086-0.428 0.128-0.812 0.128-1.154c0-0.455-0.1-0.84-0.3-1.154c-0.199-0.313-0.527-0.47-0.981-0.47 c-0.57 0-1.226 0.271-1.967 0.812c-0.741 0.542-1.595 1.467-2.563 2.777c-1.368 1.938-2.536 4.032-3.504 6.28 c-0.971 2.251-1.88 4.544-2.735 6.88c-0.341 1.083-0.685 2.151-1.026 3.206c-0.342 1.055-0.683 2.094-1.024 3.12 c-0.058 0.114-0.115 0.242-0.172 0.384c-0.057 0.144-0.114 0.3-0.17 0.471h-15.897c0.248-0.727 0.494-1.447 0.742-2.173 c-0.567 0.133-1.154 0.208-1.768 0.208c-0.854 0-1.668-0.128-2.437-0.385c-0.77-0.256-1.495-0.583-2.18-0.983 c-2.222 1.824-4.829 3.249-7.819 4.273c-2.992 1.026-6.057 1.624-9.189 1.795c-0.228 0-0.47 0-0.726 0c-0.257 0-0.528 0-0.813 0 c-2.963 0-5.812-0.443-8.546-1.324c-2.735-0.885-5.129-2.208-7.18-3.975c-1.654-1.481-2.851-3.063-3.59-4.744 c-0.183-0.413-0.341-0.827-0.478-1.241c-1.949 1.9-4.054 3.441-6.317 4.618c-5.042 2.622-11.097 3.932-18.161 3.93 c-6.44 0-12.138-2.037-17.095-6.111c-1.521-1.25-2.807-2.634-3.861-4.149c-0.679 1.069-1.382 2.103-2.121 3.08 c-1.767 2.337-4.218 4.246-7.35 5.727c-1.882 0.854-3.861 1.482-5.941 1.88c-2.081 0.399-4.203 0.599-6.367 0.6 c-0.341 0-0.685 0-1.026 0s-0.655-0.029-0.939-0.085c-1.368-0.058-2.706-0.214-4.017-0.47c-1.313-0.256-2.595-0.583-3.846-0.983 c-3.307-1.139-6.027-2.876-8.163-5.214c-0.822-0.898-1.483-1.862-1.989-2.888c-0.402 0.261-0.822 0.497-1.259 0.71 c-0.883 0.427-1.81 0.726-2.777 0.897c-0.229 0-0.457 0.015-0.683 0.042c-0.229 0.029-0.457 0.043-0.686 0.04 c-0.911 0-1.81-0.185-2.69-0.556c-0.885-0.37-1.668-0.954-2.352-1.752c-2.337 2.621-5 4.901-7.991 6.84 c-2.992 1.938-6.34 2.905-10.043 2.905c-3.191 0-5.599-0.967-7.223-2.905c-1.623-1.937-2.436-4.216-2.436-6.837 c0-0.398 0.014-0.783 0.043-1.154c0.027-0.37 0.071-0.754 0.128-1.154c0.056-0.341 0.142-0.697 0.257-1.068 c0.114-0.37 0.227-0.754 0.342-1.153c0.969-2.849 1.952-5.654 2.948-8.419c0.997-2.763 1.952-5.541 2.863-8.333h16.239 c-1.083 3.134-2.166 6.312-3.248 9.53c-1.083 3.22-2.193 6.425-3.333 9.615c-0.058 0.228-0.116 0.442-0.172 0.64 c-0.057 0.201-0.084 0.414-0.084 0.642c0 0.51 0.13 0.97 0.38 1.367c0.256 0.4 0.67 0.6 1.24 0.6 c1.196 0 2.351-0.456 3.462-1.367c1.11-0.911 2.065-1.909 2.862-2.992c0.344-0.456 0.642-0.897 0.899-1.325 c0.256-0.428 0.497-0.812 0.725-1.154c-0.056-0.456-0.1-0.911-0.128-1.368c-0.029-0.456-0.042-0.911-0.042-1.367 c0-0.342 0.013-0.712 0.042-1.111c0.028-0.398 0.044-0.77 0.044-1.111c0.17-1.481 0.482-2.948 0.939-4.401 c0.455-1.453 1.055-2.749 1.796-3.889c0.056-0.056 0.098-0.128 0.128-0.213c0.027-0.085 0.07-0.157 0.128-0.214 c0.513-0.684 1.081-1.295 1.71-1.837c0.625-0.541 1.309-0.812 2.051-0.812c0.112 0 0.23 0 0.34 0 c0.112 0 0.2 0.03 0.26 0.085c0.911 0.23 1.58 0.73 2.01 1.496c0.428 0.77 0.7 1.58 0.81 2.44 c0.056 0.23 0.09 0.44 0.09 0.641c0 0.2 0 0.41 0 0.641c0 2.223-0.472 4.402-1.411 6.539c-0.94 2.137-1.981 4.117-3.12 5.94 c-0.058 0.171-0.128 0.314-0.214 0.428c-0.086 0.115-0.157 0.229-0.214 0.342c0.172 0.17 0.36 0.31 0.56 0.43 c0.2 0.12 0.41 0.23 0.64 0.342c0.228 0.06 0.44 0.1 0.64 0.128c0.2 0.03 0.39 0.04 0.56 0.04 c1.026 0 1.979-0.413 2.863-1.239c0.322-0.302 0.617-0.622 0.898-0.95c0-0.011-0.002-0.021-0.002-0.033 c0-0.797 0.072-1.609 0.214-2.436c0.143-0.826 0.355-1.667 0.642-2.521c1.139-3.419 3.446-6.082 6.924-7.992 c3.474-1.908 7.178-3.119 11.111-3.632c0.853-0.113 1.694-0.199 2.521-0.256c0.825-0.056 1.637-0.085 2.436-0.085 c1.196 0 2.36 0.06 3.5 0.171c1.139 0.12 2.19 0.31 3.16 0.598c0.172 0.06 0.33 0.1 0.47 0.13 c0.143 0.03 0.3 0.07 0.47 0.128c1.652 0.46 3.2 1.25 4.66 2.394c1.452 1.14 2.21 2.68 2.26 4.62 c0.114 3.077-1.168 5.5-3.846 7.265c-2.679 1.767-5.613 3.049-8.804 3.846c-1.766 0.457-3.476 0.77-5.128 0.94 c-1.654 0.171-3.076 0.229-4.273 0.171c0.284 2.05 1.07 3.63 2.35 4.744c1.28 1.11 2.98 1.67 5.08 1.67 c4.273 0 7.863-1.196 10.77-3.59c2.438-2.007 4.428-4.461 5.983-7.351c-0.738-2.241-1.111-4.689-1.111-7.35 c0-4.558 1.182-8.746 3.547-12.564c2.363-3.817 5.397-6.951 9.103-9.402c3.02-2.107 6.466-3.731 10.343-4.872 c3.873-1.139 7.891-1.709 12.05-1.709c0.684 0 1.35 0.01 2.01 0.043c0.653 0.03 1.32 0.07 2.01 0.13 c2.336 0.17 4.63 0.58 6.88 1.239c2.25 0.66 4.26 1.78 6.03 3.376c0.911 0.8 1.57 1.7 1.97 2.69 c0.397 1 0.6 2.01 0.6 3.034c0 2.108-0.77 4.032-2.308 5.77c-1.539 1.739-3.534 2.636-5.983 2.69 c-1.426 0.058-2.679-0.184-3.762-0.726c-1.082-0.541-2.107-1.21-3.076-2.009c-0.228-0.171-0.457-0.355-0.684-0.556 c-0.229-0.199-0.457-0.413-0.684-0.641c0.171-0.056 0.326-0.128 0.47-0.214c0.143-0.085 0.3-0.156 0.47-0.213 c1.139-0.626 2.138-1.295 2.992-2.008c0.854-0.712 1.538-1.752 2.05-3.12c0.114-0.227 0.187-0.44 0.214-0.641 c0.028-0.199 0.044-0.413 0.044-0.641c0-0.969-0.399-1.71-1.196-2.223c-0.799-0.513-1.768-0.769-2.907-0.769 c-3.076 0-5.811 1.226-8.204 3.675c-2.394 2.451-4.417 5.158-6.069 8.12c-0.683 1.254-1.296 2.508-1.838 3.76 c-0.541 1.254-1.011 2.393-1.41 3.419c-0.455 1.254-0.883 2.679-1.28 4.273c-0.399 1.596-0.629 3.192-0.686 4.79 c0 0.17 0 0.33 0 0.47c0 0.14 0 0.3 0 0.47c0 2.11 0.41 4.08 1.24 5.897c0.825 1.82 2.35 3.13 4.57 3.93 c0.797 0.29 1.61 0.5 2.44 0.641c0.825 0.14 1.67 0.21 2.52 0.213c0.229 0 0.44 0 0.64 0c0.199 0 0.385-0.028 0.556-0.085 c3.531-0.227 6.894-1.466 10.086-3.718c2.695-1.902 4.796-4.063 6.313-6.474c0.398-1.214 0.961-2.405 1.72-3.568 c1.594-2.45 3.702-4.53 6.324-6.24c2.278-1.481 4.843-2.65 7.691-3.504s5.783-1.282 8.804-1.282c0.456 0 0.9 0.01 1.32 0.04 c0.427 0.03 0.87 0.04 1.32 0.042c2.449 0.23 4.84 0.76 7.18 1.581c2.336 0.83 4.39 2.07 6.15 3.72 c1.539 1.37 2.71 2.92 3.5 4.658c0.798 1.74 1.2 3.55 1.2 5.427c0 0.684-0.058 1.367-0.172 2.05 c-0.113 0.684-0.285 1.368-0.512 2.051c0.797-0.113 1.495-0.327 2.094-0.641c0.598-0.313 1.181-0.812 1.752-1.496 c0.125-0.125 0.248-0.267 0.373-0.418c0.103-0.301 0.207-0.605 0.311-0.907c1.71-4.985 3.446-9.985 5.214-15h15.897 c-0.058 0.171-0.115 0.342-0.172 0.513c-0.058 0.171-0.115 0.342-0.171 0.512c-0.114 0.229-0.2 0.428-0.256 0.6 c-0.058 0.17-0.114 0.341-0.171 0.512c1.31-0.74 2.777-1.381 4.401-1.923c1.624-0.541 3.29-0.897 5-1.068 c0.284-0.056 0.568-0.085 0.855-0.085c0.284 0 0.57 0 0.85 0c1.652 0 3.23 0.27 4.74 0.81 c1.509 0.54 2.83 1.44 3.97 2.692c0.741 0.8 1.28 1.68 1.62 2.649c0.343 0.97 0.51 1.97 0.51 2.99 c0 0.229-0.015 0.485-0.042 0.77c-0.03 0.286-0.074 0.542-0.129 0.769c-0.058 0.286-0.115 0.556-0.171 0.81 c-0.058 0.257-0.144 0.528-0.256 0.812c-0.172 0.57-0.371 1.154-0.6 1.752c-0.228 0.598-0.427 1.211-0.598 1.84 c-0.229 0.57-0.457 1.154-0.685 1.752s-0.428 1.211-0.598 1.838c-0.058 0.115-0.115 0.256-0.172 0.43 c-0.058 0.171-0.113 0.371-0.17 0.598c-0.058 0.115-0.115 0.243-0.171 0.385c-0.058 0.143-0.086 0.299-0.086 0.47 c-0.057 0.115-0.101 0.257-0.128 0.428c-0.03 0.17-0.042 0.314-0.042 0.427c0 0.29 0.09 0.53 0.26 0.73 c0.171 0.2 0.46 0.3 0.85 0.299c0.342 0 0.669-0.056 0.983-0.171c0.312-0.113 0.641-0.256 0.982-0.427 c0.684-0.456 1.381-1.039 2.094-1.752c0.711-0.712 1.353-1.438 1.924-2.18c0.455-0.569 0.854-1.139 1.196-1.709 c0.342-0.569 0.598-1.082 0.77-1.538c0.056-0.114 0.113-0.227 0.17-0.342c0.056-0.114 0.113-0.257 0.172-0.428 c0-0.113 0.027-0.227 0.085-0.342c0.057-0.114 0.114-0.227 0.171-0.342l4.274 2.051C417.642 40.59 415.12 44.28 412.13 47.328z M248.84 35.319c0.739-0.114 1.48-0.285 2.222-0.513c2.165-0.569 4.146-1.509 5.94-2.82c1.794-1.31 2.721-3.133 2.777-5.47 c0-0.968-0.256-1.652-0.77-2.051c-0.512-0.398-1.253-0.626-2.222-0.684c-2.109-0.056-3.932 0.741-5.47 2.39 c-1.538 1.653-2.707 3.476-3.504 5.47c-0.285 0.684-0.513 1.367-0.685 2.051c-0.17 0.684-0.313 1.311-0.426 1.88 C247.387 35.52 248.1 35.43 248.84 35.319z M348.026 25.447c-0.598-0.769-1.354-1.154-2.266-1.154 c-0.569 0-1.195 0.158-1.88 0.47c-0.684 0.314-1.367 0.756-2.052 1.325c-0.285 0.228-0.556 0.485-0.812 0.77 c-0.256 0.286-0.527 0.57-0.811 0.854c-1.313 1.539-2.365 3.291-3.163 5.257c-0.799 1.966-1.368 3.974-1.71 6.03 c-0.058 0.684-0.115 1.354-0.171 2.009c-0.059 0.655-0.086 1.297-0.086 1.923c0 0.34 0.01 0.77 0.04 1.28 c0.028 0.51 0.1 1.02 0.21 1.538c0.171 0.97 0.47 1.84 0.9 2.607c0.428 0.77 1.1 1.15 2.01 1.15 c1.423 0 2.69-0.498 3.802-1.496c1.112-0.996 2.01-2.122 2.692-3.376c0.172-0.285 0.342-0.556 0.514-0.812 c0.17-0.256 0.312-0.526 0.428-0.812c-0.913-0.626-1.612-1.41-2.094-2.35c-0.485-0.94-0.728-1.951-0.728-3.035 c0-0.113 0-0.227 0-0.341s0-0.199 0-0.257c0.17-1.709 0.812-3.318 1.922-4.829c1.112-1.509 2.523-2.492 4.231-2.948 C348.951 27.48 348.62 26.22 348.03 25.447z M187.218 33.866c-0.058 0-0.1 0-0.128 0c-0.03 0-0.072 0-0.129 0 c-1.196 0-2.337-0.398-3.419-1.197c-1.083-0.797-1.852-2.079-2.307-3.846c-0.171-0.513-0.385-0.897-0.641-1.154 c-0.256-0.256-0.556-0.355-0.897-0.299c-0.57 0-1.211 0.328-1.923 0.983c-0.713 0.655-1.467 1.553-2.265 2.69 c-1.367 1.766-2.536 3.732-3.505 5.897c-0.969 2.167-1.824 4.359-2.563 6.582c-0.342 0.969-0.656 1.91-0.941 2.82 c-0.286 0.912-0.598 1.824-0.939 2.735c-0.116 0.342-0.229 0.684-0.343 1.025c-0.115 0.342-0.229 0.683-0.342 1.026h-15.812 l7.094-19.83c0.114-0.227 0.172-0.427 0.172-0.598s0-0.313 0-0.427c0-0.626-0.244-1.039-0.727-1.239 c-0.484-0.199-1.04-0.27-1.666-0.214c-1.482 0.171-2.793 0.854-3.932 2.051c-1.141 1.197-2.082 2.479-2.821 3.85 c-0.171 0.286-0.342 0.599-0.513 0.94c-0.084 0.168-0.161 0.33-0.231 0.484l0.061 0.028c-1.425 2.85-3.021 5.442-4.786 7.78 c-1.767 2.337-4.218 4.246-7.351 5.727c-1.88 0.854-3.861 1.482-5.94 1.88c-2.081 0.399-4.202 0.599-6.368 0.6 c-0.341 0-0.683 0-1.025 0c-0.342 0-0.656-0.029-0.941-0.085c-1.367-0.058-2.707-0.214-4.017-0.47s-2.593-0.583-3.846-0.983 c-3.306-1.139-6.025-2.876-8.163-5.214c-2.137-2.335-3.205-5.099-3.205-8.291c0-0.797 0.07-1.609 0.214-2.436 c0.141-0.826 0.354-1.667 0.641-2.521c1.14-3.419 3.447-6.082 6.923-7.992c3.475-1.908 7.18-3.119 11.111-3.632 c0.855-0.113 1.694-0.199 2.521-0.256c0.825-0.056 1.637-0.085 2.436-0.085c1.197 0 2.36 0.06 3.5 0.17 c1.14 0.12 2.19 0.31 3.16 0.598c0.171 0.06 0.33 0.1 0.47 0.128c0.142 0.03 0.3 0.07 0.47 0.13 c1.652 0.46 3.21 1.25 4.66 2.394c1.452 1.14 2.21 2.68 2.27 4.615c0.113 3.077-1.168 5.5-3.847 7.26 c-2.679 1.767-5.612 3.049-8.803 3.846c-1.768 0.457-3.477 0.77-5.128 0.94c-1.654 0.171-3.078 0.229-4.274 0.17 c0.285 2.05 1.07 3.63 2.35 4.744c1.282 1.11 2.98 1.67 5.09 1.667c4.273 0 7.863-1.196 10.769-3.59 c2.906-2.393 5.185-5.412 6.837-9.06l0.02 0.009c1.471-3.604 3.553-6.871 6.262-9.795c2.876-3.105 6.48-4.771 10.812-5 c0.398-0.056 0.813-0.085 1.24-0.085c0.428 0 0.87 0.03 1.32 0.085c1.88 0.12 3.69 0.58 5.43 1.41 c1.736 0.83 3.12 2.07 4.14 3.718c1.253-0.911 2.577-1.766 3.974-2.564c1.396-0.797 2.834-1.424 4.317-1.88 c0.683-0.227 1.353-0.385 2.008-0.47s1.296-0.128 1.924-0.128c0.855 0 1.69 0.12 2.52 0.342c0.825 0.23 1.61 0.57 2.35 1.03 c0.741 0.51 1.33 1.14 1.75 1.88c0.427 0.74 0.73 1.51 0.9 2.307c0.113 0.34 0.17 0.68 0.17 1.026c0 0.34 0 0.66 0 0.94 c0 2.109-0.641 3.775-1.922 5C190.167 33.25 188.76 33.87 187.22 33.866z M121.92 35.319c0.74-0.114 1.481-0.285 2.222-0.513 c2.165-0.569 4.145-1.509 5.94-2.82c1.795-1.31 2.72-3.133 2.778-5.47c0-0.968-0.256-1.652-0.769-2.051 c-0.513-0.398-1.254-0.626-2.222-0.684c-2.109-0.056-3.933 0.741-5.471 2.393c-1.538 1.653-2.707 3.476-3.504 5.47 c-0.286 0.684-0.513 1.367-0.684 2.051c-0.171 0.684-0.313 1.311-0.427 1.88C120.466 35.52 121.18 35.43 121.92 35.319z M104.331 19.747c-0.689 2.457-2.088 4.273-4.2 5.452c-2.114 1.179-4.398 1.868-6.853 2.063c-0.198 0-0.368 0-0.515 0 c-0.148 0-0.32 0-0.516 0c-0.688 0-1.351-0.048-1.989-0.147c-0.64-0.097-1.253-0.196-1.843-0.295 c-0.688-0.196-1.376-0.465-2.063-0.811c-0.688-0.343-1.376-0.711-2.063-1.105c-0.394-0.196-0.737-0.391-1.031-0.589 c-0.295-0.196-0.641-0.392-1.032-0.589c0.59-0.392 1.106-0.737 1.548-1.032c0.442-0.295 0.859-0.589 1.253-0.884 c0.589-0.392 1.08-0.884 1.473-1.474c0.391-0.589 0.737-1.474 1.031-2.653c0.098-0.391 0.171-0.76 0.221-1.105 c0.048-0.343 0.074-0.663 0.074-0.958c0-2.454-1.204-4.347-3.61-5.673c-2.408-1.326-5.036-2.038-7.884-2.136 c-0.098 0-0.172 0-0.221 0c-0.051 0-0.124 0-0.221 0c-2.457 0-4.79 0.516-7 1.547c-2.21 1.031-3.709 2.678-4.495 4.94 c-0.098 0.394-0.197 0.762-0.294 1.105c-0.099 0.345-0.147 0.713-0.147 1.105c0.097 1.87 0.83 3.59 2.21 5.16 c1.374 1.57 2.85 3 4.42 4.273c0.786 0.59 1.52 1.13 2.21 1.621c0.687 0.49 1.33 0.94 1.92 1.33 c0.59 0.39 1.2 0.83 1.84 1.326c0.637 0.49 1.3 0.94 1.99 1.326c4.715 3.54 9.06 7.52 13.04 11.94 c3.978 4.42 5.97 9.87 5.97 16.356c0 1.573-0.147 3.168-0.442 4.79s-0.736 3.367-1.326 5.23 c-2.85 8.253-8.893 14.736-18.125 19.451c-9.235 4.716-19.108 7.465-29.619 8.253c-1.082 0.097-2.162 0.17-3.242 0.22 c-1.083 0.049-2.162 0.074-3.242 0.074c-5.994 0-11.716-0.688-17.168-2.063c-5.452-1.376-10.193-3.44-14.22-6.189 c-2.947-1.964-5.282-4.421-6.999-7.368c-1.72-2.947-2.727-5.991-3.021-9.137C0.048 72.8 0 72.48 0 72.13 c0-0.343 0-0.711 0-1.104c0-3.731 1.105-7.17 3.315-10.315c2.21-3.144 5.575-5.255 10.094-6.336c0.785-0.197 1.57-0.318 2.358-0.37 c0.785-0.048 1.57-0.073 2.357-0.073c2.063 0 4.05 0.32 5.97 0.958c1.916 0.64 3.51 1.75 4.79 3.31 c0.589 0.69 1.01 1.18 1.25 1.475c0.244 0.29 0.37 0.54 0.37 0.736c0 0.1-0.051 0.198-0.147 0.29 c-0.099 0.1-0.32 0.246-0.663 0.441c-0.345 0.198-0.762 0.493-1.252 0.884c-0.099 0.1-0.221 0.198-0.368 0.29 c-0.147 0.1-0.32 0.198-0.516 0.295c-0.983 0.788-1.941 1.746-2.874 2.874c-0.935 1.129-1.499 2.334-1.695 3.61 c-0.099 0.787-0.221 1.572-0.368 2.356c-0.147 0.788-0.221 1.524-0.221 2.211c0.097 5.4 2.16 9.43 6.19 12.08 c4.027 2.65 8.55 3.98 13.56 3.979c0.196 0 0.39 0 0.59 0c0.196 0 0.39 0 0.59 0c4.617-0.196 8.938-1.473 12.968-3.83 c4.027-2.358 6.68-5.894 7.958-10.61c0.195-0.784 0.343-1.496 0.441-2.138c0.097-0.636 0.148-1.299 0.148-1.988 c0-3.929-1.451-7.391-4.348-10.389c-2.898-2.996-6.066-5.869-9.504-8.62c-0.099 0-0.173-0.023-0.221-0.074 c-0.051-0.05-0.124-0.123-0.221-0.221c-0.099-0.097-0.173-0.17-0.221-0.222c-0.051-0.048-0.125-0.073-0.221-0.073 c-4.126-3.242-7.909-6.705-11.347-10.389c-3.439-3.684-5.157-8.227-5.157-13.631c0.097-1.375 0.27-2.75 0.516-4.126 c0.244-1.375 0.613-2.848 1.105-4.42c1.865-5.501 5.796-9.726 11.789-12.673c5.991-2.947 12.328-4.862 19.009-5.747 c1.669-0.196 3.29-0.343 4.863-0.442C72.451 0.05 74.02 0 75.6 0c1.964 0.1 3.9 0.22 5.82 0.37 c1.916 0.15 3.66 0.37 5.23 0.663c0.687 0.1 1.38 0.25 2.06 0.442c0.687 0.2 1.38 0.39 2.06 0.59 c3.536 1.18 6.78 2.87 9.72 5.083c2.948 2.21 4.37 5.23 4.27 9.063c0 0.493-0.025 1.032-0.074 1.62 C104.648 18.42 104.53 19.06 104.33 19.747z M113.017 77.365c2.472-2.209 4.244-3.935 5.317-5.177 c1.073-1.242 1.862-2.405 2.368-3.491c0.505-1.086 0.758-2.21 0.758-3.37c0-1.398-0.412-2.509-1.236-3.333 s-2.053-1.236-3.688-1.236c-2.197 0-4.275 0.805-6.234 2.415l-1.011-1.366c2.247-1.822 4.706-2.733 7.376-2.733 c2.159 0 3.83 0.53 5.03 1.591c1.192 1.06 1.79 2.54 1.79 4.437c0 1.373-0.271 2.674-0.814 3.903s-1.426 2.549-2.649 3.96 c-1.223 1.41-3.164 3.301-5.822 5.672l-7.17 6.328v0.075h13.779l-0.318 1.797h-16.288l0.412-1.947L113.017 77.365z M128.108 64.19 c0.992-1.729 2.158-3.021 3.501-3.875c1.341-0.855 2.842-1.282 4.501-1.282c4.244 0 6.37 2.93 6.37 8.78 c0 2.508-0.256 5.036-0.768 7.582s-1.239 4.705-2.181 6.478s-2.087 3.104-3.435 3.997c-1.348 0.893-2.859 1.339-4.532 1.34 c-2.196 0-3.847-0.79-4.951-2.369c-1.104-1.578-1.658-3.997-1.658-7.254c0-2.321 0.278-4.702 0.833-7.143 C126.341 68.01 127.11 65.92 128.11 64.194z M128.052 83.562c0.779 1.34 2.01 2 3.7 2 c1.734 0 3.258-0.698 4.568-2.097c1.311-1.397 2.346-3.501 3.107-6.309c0.761-2.809 1.142-5.86 1.142-9.155 c0-2.483-0.372-4.324-1.113-5.522c-0.743-1.198-1.932-1.797-3.567-1.797c-1.672 0-3.179 0.705-4.521 2.12 c-1.342 1.41-2.425 3.463-3.248 6.159c-0.824 2.696-1.236 5.511-1.236 8.443C126.881 80.17 127.27 82.23 128.05 83.562z M153.95 59.467l-5.86 27.371h-1.966l4.212-19.751c0.237-1.148 0.699-2.977 1.385-5.485c-0.524 0.449-0.995 0.83-1.413 1.14 c-0.418 0.313-1.975 1.317-4.671 3.015l-0.974-1.461l7.601-4.83H153.95z M159.338 85.564c2.596 0 4.646-0.714 6.151-2.144 c1.503-1.429 2.256-3.385 2.256-5.869c0-1.747-0.531-3.117-1.591-4.109c-1.062-0.992-2.466-1.488-4.212-1.488 c-1.661 0-3.177 0.256-4.55 0.768l-1.235-0.917l3.613-12.337h11.682l-0.337 1.797h-10.128l-2.79 9.66 c1.222-0.362 2.565-0.543 4.024-0.543c2.346 0 4.17 0.64 5.48 1.909c1.304 1.27 1.96 3.02 1.96 5.22 c0 2.958-0.923 5.313-2.77 7.067c-1.848 1.754-4.388 2.631-7.62 2.631c-1.048 0-2.157-0.125-3.323-0.375 c-1.168-0.25-2.157-0.567-2.967-0.955V83.88C155.095 85 157.22 85.56 159.34 85.564z"}

        %span.font_large.text_white
          The Online Conference
          %em for
          %strong Process Servers

        %p.break_large.text_white March 26<span class="font_small">th</span> &amp; 27<span class="font_small">th</span>

        %p.font_large.text_white The conference is over, but recordings are now available!

        %p.break_large
          %a.btn{:href => "https://www.youtube.com/playlist?list=PLld2CrOWUS9z25vP2jSi-fuSmEDi2sQvM"} Watch Now

        / %p.font_small.text_white Buy the entire series, or rent individual episodes from the conference.

        / %p.break_large.font_small.text_white If you attended the event, but you haven't received an email with your access code, please <a href="/contact.html">contact us</a> or call (800) 280-4400.

        .align_center{style: 'max-width:30em;'}
          %p.text_white Thank you to all the attendees, presenters and sponsors!<br>You made the first ServeCon valuable, fun and a huge success!

    #a-speakers.bg_gray_light.row_padded{style: 'padding-bottom:0;'}
      .align_center{style: 'max-width:60em;'}
        %h2.remove_margin_top.break_small Speakers

        .cols
          .col_one_fourth_speakers
            %img{:alt => "Joann Needleman", :src => "https://s3.amazonaws.com/lawgical/assets/data/2338/original.jpg"}

            %h3
              %strong Joann Needleman

            %p
              NARCA President
              %br
              Maurice &amp; Needleman

          .col_one_fourth_speakers
            %img{:alt => "Steve Glenn", :src => "https://s3.amazonaws.com/lawgical/assets/data/2233/original.png"}

            %h3
              %strong Steve Glenn

            %p
              PSACO President
              %br
              NAPPS 1st Vice President

          .col_one_fourth_speakers
            %img{:alt => "Jared D. Correia, Esq.", :src => "https://s3.amazonaws.com/lawgical/assets/data/2250/original.png"}

            %h3
              %strong Jared D. Correia, Esq.

            %p
              Assistant Director, Senior Law Practice Advisor
              %br
              Massachusetts Law Office Management Assistance Program

          .col_one_fourth_speakers
            %img{:alt => "Jeff Karotkin", :src => "https://s3.amazonaws.com/lawgical/assets/data/2242/original.png"}

            %h3
              %strong Jeff Karotkin

            %p
              VP of Strategy
              %br
              One Legal, LLC

          .col_one_fourth_speakers
            %img{:alt => "Adam Camras", :src => "https://s3.amazonaws.com/lawgical/assets/data/2226/original.png"}

            %h3
              %strong Adam Camras

            %p
              ServeNow CEO
              %br
              Marketing Expert

          .col_one_fourth_speakers
            %img{:alt => "Rick Keeney", :src => "https://s3.amazonaws.com/lawgical/assets/data/2388/original.jpg"}

            %h3
              %strong Rick Keeney

            %p
              CEO
              %br
              Professional Civil Process

          .col_one_fourth_speakers
            %img{:alt => "Michael Kern", :src => "https://s3.amazonaws.com/lawgical/assets/data/2227/original.png"}

            %h3
              %strong Michael Kern

            %p
              CALSPro Past President
              %br
              Kern Legal Services

          .col_one_fourth_speakers
            %img{:alt => "Laura J. Hazen", :src => "https://s3.amazonaws.com/lawgical/assets/data/2228/original.png"}

            %h3
              %strong Laura J. Hazen

            %p
              Attorney
              %br
              H&K Law LLC

          .col_one_fourth_speakers
            %img{:alt => "Torri Schaffer", :src => "https://s3.amazonaws.com/lawgical/assets/data/2248/original.png"}

            %h3
              %strong Torri Schaffer

            %p
              MAAPPS Founder
              %br
              Torris Legal Services

          .col_one_fourth_speakers
            %img{:alt => "Amanda Sexton", :src => "https://s3.amazonaws.com/lawgical/assets/data/2262/original.png"}

            %h3
              %strong Amanda Sexton

            %p
              Marketing Manager
              %br
              DGR Legal

          .col_one_fourth_speakers
            %img{:alt => "Randy Mucha", :src => "https://s3.amazonaws.com/lawgical/assets/data/2277/original.jpg"}

            %h3
              %strong Randy Mucha

            %p
              Civil Process, Vendor Relations
              %br
              Firefly Legal, Inc.

          .col_one_fourth_speakers
            %img{:alt => "Mark Schwartz", :src => "https://s3.amazonaws.com/lawgical/assets/data/2404/original.jpg"}

            %h3
              %strong Mark Schwartz

            %p
              Program Manager, Justice Group
              %br
              One Legal, LLC

          .col_one_fourth_speakers
            %img{:alt => "David Nill", :src => "https://s3.amazonaws.com/lawgical/assets/data/2417/original.jpg"}

            %h3
              %strong David Nill

            %p
              Founder, President and CEO
              %br
              Rapid Legal, Inc.

          .col_one_fourth_speakers
            %img{:alt => "Paula Ashcraft", :src => "https://s3.amazonaws.com/lawgical/assets/data/2083/original.jpg"}

            %h3
              %strong Paula Ashcraft

            %p
              CEO
              %br
              Greentree Legal, LLC

          .col_one_fourth_speakers
            %img{:alt => "Lance Randall", :src => "https://s3.amazonaws.com/lawgical/assets/data/2498/original.jpg"}

            %h3
              %strong Lance Randall

            %p
              FAPPS President
              %br
              NAPPS Secretary

          .col_one_fourth_speakers
            %img{:alt => "Amanda DuPont", :src => "https://s3.amazonaws.com/lawgical/assets/data/2472/original.jpg"}

            %h3
              %strong Amanda DuPont

            %p
              Thomson Reuters Public Records Product Specialist

          .col_one_fourth_speakers
            %img{:alt => "Robert Scott", :src => "https://s3.amazonaws.com/lawgical/assets/data/2426/original.jpg"}

            %h3
              %strong Robert Scott

            %p
              California Licensed P.I.
              %br
              Founder and CEO
              %br
              Skip Smasher, Inc.

          .col_one_fourth_speakers
            %img{:alt => "Mike Dores", :src => "https://s3.amazonaws.com/lawgical/assets/data/2419/original.jpg"}

            %h3
              %strong Mike Dores

            %p
              President

              %br
              Mike Dores Investigations

          .col_one_fourth_speakers
            %img{:alt => "Neil Caddell", :src => "https://s3.amazonaws.com/lawgical/assets/data/2418/original.jpg"}

            %h3
              %strong Neil Caddell

            %p
              Manager–Specialized Risk, Licensed Investigator
              %br
              TransUnion

          .col_one_fourth_speakers
            %img{:alt => "Joseph R. Click", :src => "https://s3.amazonaws.com/lawgical/assets/data/2456/original.jpg"}

            %h3
              %strong Joseph R. Click

            %p
              Owner
              %br
              I Serve Papers

          .col_one_fourth_speakers
            %img{:alt => "Alan Carlson", :src => "https://s3.amazonaws.com/lawgical/assets/data/2468/original.jpg"}

            %h3
              %strong Alan Carlson

            %p
              Court Executive Officer
              %br
              Orange County Superior Court

          .col_one_fourth_speakers
            %img{:alt => "Snorri Ogata", :src => "https://s3.amazonaws.com/lawgical/assets/data/2469/original.jpg"}

            %h3
              %strong Snorri Ogata

            %p
              Chief Information Officer
              %br
              Superior Court of CA, Los Angeles County

          .col_one_fourth_speakers
            %img{:alt => "Casey Kennedy", :src => "https://s3.amazonaws.com/lawgical/assets/data/2470/original.jpg"}

            %h3
              %strong Casey Kennedy

            %p
              Director of Information Services
              %br
              Texas Office of Court Administration

          .col_one_fourth_speakers
            %img{:alt => "Jim McMillan", :src => "https://s3.amazonaws.com/lawgical/assets/data/2471/original.jpg"}

            %h3
              %strong Jim McMillan

            %p
              Principle Court Technology Consultant
              %br
              National Center for State Courts

          .col_one_fourth_speakers
            %img{:alt => "Trent Carlyle", :src => "https://s3.amazonaws.com/lawgical/assets/data/2244/original.png"}

            %h3
              %strong Trent Carlyle

            %p
              Chief Technology Officer
              %br
              ServeNow / ServeManager

          .col_one_fourth_speakers
            %img{:alt => "Kimberly Faber", :src => "https://s3.amazonaws.com/lawgical/assets/data/2229/original.png"}

            %h3
              %strong Kimberly Faber

            %p
              Content Manager
              %br
              ServeNow

          .col_one_fourth_speakers
            %img{:alt => "Jeremy Church", :src => "https://s3.amazonaws.com/lawgical/assets/data/2230/original.png"}

            %h3
              %strong Jeremy Church

            %p
              Developer
              %br
              ServeManager

    #a-sessions.row_padded
      .align_center{style: 'max-width:40em;'}
        %h2.remove_margin_top Sessions

        %h3 Thursday, March 26

        .table_padded
          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                8:30 AM PDT
                %br
                (11:30 AM EDT)
            .table_cell
              .box_gray.break_xs
                %img.align_right{:alt => "Trent Carlyle", :src => "https://s3.amazonaws.com/lawgical/assets/data/2244/original.png", style: 'width:3.5em;'}

                %img.align_right{:alt => "Adam Camras", :src => "https://s3.amazonaws.com/lawgical/assets/data/2226/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  Opening Session

                .font_small
                  %em Adam Camras, Trent Carlyle


          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                9:00 AM PDT
                %br
                (12:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-server-assault'}, href: '#'}
                  %img.align_right{:alt => "Steve Glenn", :src => "https://s3.amazonaws.com/lawgical/assets/data/2233/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-server-assault'}, href: '#'} Process Server Assault: Your Safety Matters

                .font_small
                  %em Steve Glenn

                #js-server-assault.font_small.hide
                  .break_small
                  %p Steve is passionate about this industry and the safety of process servers. The fear of assault is something every process server faces and little has been done in the way of legislation to protect them. However, legislation alone is not the solution. Steve will focus on what you can do to reduce the likelihood of assault while serving, and what you should do if you are a victim.

                  %hr

                  .font_small
                    %h4
                      %strong Steve Glenn

                    %p
                      PSACO President
                      %br
                      NAPPS 1st Vice President

                    %p Steve is the current NAPPS 1st Vice President. He co-founded and has served as the Process Server Association of Colorado President since 2009. He created the PSACO Certification Course, authored the Process Servers Reference Manual and sat on the Colorado Supreme Court Civil Rule sub-committee. Before his career in legal support services, Steve served in the US Navy for 8 years then went on to a 22 year career in sales.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                10:00 AM PDT
                %br
                (1:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-think-like-server'}, href: '#'}
                  %img.align_right{:alt => "Jeff Karotkin", :src => "https://s3.amazonaws.com/lawgical/assets/data/2242/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-think-like-server'}, href: '#'} Think Like an Entrepreneur, Not a Process Server

                .font_small
                  %em Jeff Karotkin

                #js-think-like-server.font_small.hide
                  .break_small
                  %p Jeff will explore what it means to be a entrepreneur and whether or not an entrepreneur might be willing to invest in your business today.  He will discuss what customers are looking for from a modern process serving agency, and how to stay innovative in our industry.

                  %hr

                  .font_small
                    %h4
                      %strong Jeff Karotkin

                    %p
                      VP of Strategy
                      %br
                      One Legal, LLC

                    %p Jeff has 30 years of experience in the process serving and court filing industry. He previously served as Vice President and General Manager of Personal Attorney Service, Inc. in Van Nuys, California. During his 9-year tenure, Karotkin led the company through its strongest growth period, ultimately positioning it for its sale. As Vice president of Strategic Development, for One Legal LLC he is responsible for providing the vision and strategy that has enabled One Legal to be recognized as one of the most successful electronic filing service providers nationally.

                    %p Jeff has served on a wide range of boards and committees within the legal support industry including as past president of NAPPS, the National Association of Professional Process Servers and CALSPro, the California Association of Legal Support Professionals. He has also written numerous articles and has spoken at a variety of conferences and seminars on process serving and electronic court filing throughout California and North America.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                10:50 AM PDT
                %br
                (1:50 PM EDT)
            .table_cell
              .box_gray.break_xs
                %h4.remove_margin_top
                  Break

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                11:30 AM PDT
                %br
                (2:30 PM EDT)
            .table_cell
              .box_gray.break_xs{style: 'overflow:hidden;'}
                %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'}
                  %img.align_right{:alt => "Alan Carlson", :src => "https://s3.amazonaws.com/lawgical/assets/data/2468/original.jpg", style: 'width:3.5em;margin-bottom:1em;'}

                %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'}
                  %img.align_right{:alt => "David Nill", :src => "https://s3.amazonaws.com/lawgical/assets/data/2417/original.jpg", style: 'width:3.5em;margin-bottom:1em;'}

                %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'}
                  %img.align_right{:alt => "Mark Schwartz", :src => "https://s3.amazonaws.com/lawgical/assets/data/2404/original.jpg", style: 'width:3.5em;margin-bottom:1em;clear:left;'}

                %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'}
                  %img.align_right{:alt => "Jim McMillan", :src => "https://s3.amazonaws.com/lawgical/assets/data/2471/original.jpg", style: 'width:3.5em;clear:right;'}

                %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'}
                  %img.align_right{:alt => "Casey Kennedy", :src => "https://s3.amazonaws.com/lawgical/assets/data/2470/original.jpg", style: 'width:3.5em;'}

                %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'}
                  %img.align_right{:alt => "Snorri Ogata", :src => "https://s3.amazonaws.com/lawgical/assets/data/2469/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-efiling-eservice'}, href: '#'} Panel: The state of eFiling and eService, and what it means for your business.

                .font_small
                  %em
                    Mark Schwartz, David Nill, Alan Carlson,
                    %br
                    Snorri Ogata, Casey Kennedy, Jim&nbsp;McMillan

                #js-efiling-eservice.font_small.hide
                  .break_small
                  %p Mark Schwartz, Program Manager for One Legal’s Justice Group and former president of CALSPro, will moderate a panel of “e-Professionals” who will bring you up to speed on the current state of eFiling and eService in the U.S. The discussion will also touch on relevant technology and the benefits that eFiling and eService can provide to you and your customers.  How does this disruptive technology affect your business? What can you do to remain relevant in the digital age? Join us at ServeCon 2015 to find out.

                  %hr

                  .cols.font_small
                    .col_half
                      %h4
                        %strong Mark Schwartz

                      %p
                        Program Manager, Justice Group
                        %br
                        One Legal, LLC

                      %p As Program Manager for One Legal’s Justice Group, Mark is responsible for the direction, coordination and implementation of new and existing court eFiling and eService projects.


                      %p He has over 35 years of experience in the legal support profession and did his first court filing at the age of 13.  He is a former president and legislative chairman of the California Association of Legal Support Professionals and is a recipient of its highest honor, The Bert Rosenthal Memorial Award, for furthering and fostering the legal support profession.


                      %p Mark is a paralegal and is a subject matter expert on California service of process statutes and case law and California Rules of Court regarding eFiling and eService. He is also one of the developers of the CALSPro Certified Process Server program.

                    .col_half
                      %h4
                        %strong David Nill

                      %p
                        Founder, President and CEO
                        %br
                        Rapid Legal, Inc.

                      %p Three decades later, David still fervently believes; good is never good enough. Guided by his company's mission to propel the legal industry forward through web-based technology, David is determined to transform the legal landscape. Whether he's collecting feedback from customers, tweaking Rapid Legal's portal to streamline the ordering process or driving legislative change for the benefit of courts, law firms, and litigants; one thing's for sure, you'll always find David thinking of ways to harness the power of technology to simplify the lives of legal professionals.

                  .cols.font_small
                    .col_half
                      %h4
                        %strong Alan Carlson

                      %p
                        Court Executive Officer
                        %br
                        Orange County Superior Court

                      %p Alan Carlson has over 37 years of experience working in state and local justice systems across the country and internationally.  He currently serves as the chief executive officer of the Orange County Superior Court, one of the largest state trials courts in the country.  His duties include clerk of court, court administrator, and jury commissioner.  He previously served as the CEO in San Francisco Superior Court, the executive officer and jury commissioner in Monterey Superior Court, and the assistant executive officer and jury commissioner in Alameda Superior Court.  Other positions held included president of the Justice Management Institute (JMI), director of court services in the California Administrative Office of the Courts, and staff attorney of the National Center for State Courts.  Mr. Carlson holds a JD degree from Hastings College of Law and a BS degree from the University of California at Berkeley.

                    .col_half
                      %h4
                        %strong Snorri Ogata

                      %p
                        Chief Information Officer
                        %br
                        Superior Court of CA, Los Angeles County

                      %p Snorri Ogata is the Chief Information Officer for the Los Angeles County Superior Court where he is responsible for the Court’s overall information technology efforts in support of 530 judicial officers, 4,500 employees and 40 locations. He joined the Court as the CIO in January 2014. Most recently Snorri was the CIO for the Orange County (CA) Superior Court and has over 30 years of IT experience in a variety of industries.  Snorri is also on the Board of Directors for the Court Information Technology Officer Consortium and chairs the CITOC Education Sub-committee.

                  .cols.font_small
                    .col_half
                      %h4
                        %strong Casey Kennedy

                      %p
                        Director of Information Services
                        %br
                        Texas Office of Court Administration

                      %p Casey Kennedy guides a staff that provides direct IT services to the Supreme Court of Texas, Court of Criminal Appeals, the 14 intermediate appellate courts, and 5 judicial branch agencies.


                      %p Mr. Kennedy is also the lead OCA staff for the Judicial Committee on Information Technology, or JCIT. The committee is appointed by the Supreme Court and makes recommendations and sets standards for court technology in Texas.  He is currently on the executive board of the Court Information Technology Officer Consortium, a national organization of Court IT professionals, and last year placed first in the court technology “geek-off” competition at the national Court Technology Conference.  He holds a BA in computer science from The University of Texas at Austin.

                    .col_half
                      %h4
                        %strong Jim McMillan

                      %p
                        Principle Court Technology Consultant
                        %br
                        National Center for State Courts

                      %p Jim McMillan joined the National Center for State Courts in October 1990 and currently serves as a Principle Court Technology Consultant.

                      %p Mr. McMillan is senior faculty for the Institute for Court Management, and has provided technical assistance for trial and appellate courts and administrative offices in all 50 states in the USA. Notable consulting projects include the United States Supreme Court, Arkansas, and Massachusetts Supreme Court, and statewide court automation projects with Rhode Island, Maine, New Jersey, and South Carolina.

                      %p Internationally, Mr. McMillan has provided expertise to courts in Bosnia & Herzegovina, Bahamas, Croatia, Egypt, Trinidad & Tobago, Serbia, Ukraine, Russia, and the United Nations International Criminal Tribunal.

                      %p As Director of the Court Technology Laboratory for eleven years he was the co-recipient of the Howell Heflin Outstanding Project Award from the State Justice Institute and was co-founder of Courtroom 21 with the College of William and Mary School of Law.

                      %p He is co-author of A Guidebook for Electronic Court Filing and a contributing author to <em>Caseflow Management: The Heart of Court Management in the New Millennium.</em>

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                1:00 PM PDT
                %br
                (4:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-forwarding'}, href: '#'}
                  %img.align_right{:alt => "Randy Mucha", :src => "https://s3.amazonaws.com/lawgical/assets/data/2277/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-forwarding'}, href: '#'} Forwarding: Building, Managing and Being Part of a Vendor Network

                .font_small
                  %em Randy Mucha

                #js-forwarding.font_small.hide
                  .break_small
                  %p If you haven't taken the leap into forwarding service of process and establishing a network of servers in your state or even nationwide, it's certainly something you've considered. Randy will be speaking about managing a network of process server companies and individuals across the country and what his company Firefly Legal faces in keeping mutually beneficial business relationships thriving.  Sourcing and negotiating new vendors,  monitoring and giving feedback, and ending relationships will be discussed.


                  %p Some process serving firms have vendor requirements imposed by their clients. What does this mean for your network of servers? What does this mean for your as an individual or smaller firms that receives forwarding work?


                  %p No matter where you sit in the job flow, you're sure to benefit from Randy's discussion at ServeCon 2015.

                  %hr

                  .font_small
                    %h4
                      %strong Randy Mucha

                    %p
                      Civil Process, Vendor Relations
                      %br
                      Firefly Legal, Inc.

                    %p Randy is the Manager of Client Services and Civil Process and Vendor Relations at Firefly Legal. He  was a police officer (Detective Sergeant and Internal Affairs Investigator) for 20 years prior to going into the process serving profession full-time in 2007.  Over the next five years, he served over 10,000 papers with only three motions to quash - he won all three.


                    %p Three years ago Randy joined Firefly Corporate Headquarters and has managed their in-house process servers as well as our extensive network of vendors.  They have used over 2,000 vendors in that time and have a regular network of about 600 that are used consistently across the country.


                    %p Randy has also recently taken on a leadership role in Firefly's Client Services Department.  Despite how busy he is at headquarters, Randy still loves to go out and take on an occasional service.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                2:00 PM PDT
                %br
                (5:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-content-strategy'}, href: '#'}
                  %img.align_right{:alt => "Joseph R. Click", :src => "https://s3.amazonaws.com/lawgical/assets/data/2456/original.jpg", style: 'width:3.5em;'}

                %a{data: {'toggle' => '#js-content-strategy'}, href: '#'}
                  %img.align_right{:alt => "Amanda Sexton", :src => "https://s3.amazonaws.com/lawgical/assets/data/2262/original.png", style: 'width:3.5em;'}

                %a{data: {'toggle' => '#js-content-strategy'}, href: '#'}
                  %img.align_right{:alt => "Kimberly Faber", :src => "https://s3.amazonaws.com/lawgical/assets/data/2229/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-content-strategy'}, href: '#'} Panel: Content and Blogging Strategy

                .font_small
                  %em Kimberly Faber, Amanda Sexton, Joseph&nbsp;R.&nbsp;Click

                #js-content-strategy.font_small.hide
                  .break_small
                  %p Join us as various industry-leading bloggers discuss the importance of content marketing and blogging in process serving, as well as the latest developments and trends. Learn about strategy tips, how to come up with ideas, outsourcing vs. in-house creation, and the importance of distribution. Whether you are a small firm wondering if blogging is right for you or an industry veteran reassessing strategy, this is the panel for you. The discussion will also evaluate how audience, keyword, and SEO targets influence strategy and the importance of distribution.

                  %hr

                  .cols
                    .col_half
                      .font_small
                        %h4
                          %strong Kimberly Faber

                        %p
                          Content Manager
                          %br
                          ServeNow

                        %p

                    .col_half
                      .font_small
                        %h4
                          %strong Amanda Sexton

                        %p
                          Marketing Manager
                          %br
                          DGR Legal

                        %p

                  .cols
                    .col_half
                      .font_small
                        %h4
                          %strong Joseph R. Click

                        %p
                          Owner
                          %br
                          I Serve Papers

                        %p Joseph R. Click is a registered process server and owner of I Serve Papers. He has been serving papers throughout Southern California for clients nationwide since 2002. With a focus on transparency, integrity and results, he thrives on helping clients with difficult jobs serving evasive defendants. His articles exploring all things process serving can be found at <a href="http://iservepapers.com/blog/">http://iservepapers.com/blog/</a>.

                    .col_half

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                3:00 PM PDT
                %br
                (6:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-employee-vs-contractor'}, href: '#'}
                  %img.align_right{:alt => "Laura J. Hazen", :src => "https://s3.amazonaws.com/lawgical/assets/data/2228/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-employee-vs-contractor'}, href: '#'} Employee vs. Independent Contractor: Why Should I Care?

                .font_small
                  %em Laura J. Hazen

                #js-employee-vs-contractor.font_small.hide
                  .break_small
                  %p Many state Departments of Labor are targeting process severing companies and their classification of employees and contractors. There can be a fine line between an employee and an independent contractor, and sometimes the smallest of business practices can put your most obvious contractors in the employee category. An experienced employment law attorney, Laura will discuss the do’s and don’ts of classifying your process servers as independent contractors, not employees, as well as how to handle audits and confirm compliance withe Fair Labor Standards Act.

                  %hr

                  .font_small
                    %h4
                      %strong Laura J. Hazen

                    %p
                      Attorney
                      %br
                      H&K Law LLC

                    %p Laura litigates employment issues in federal courts and before administrative bodies as well as traditional civil matters in state and federal court, such as breach of contract, non-competition and trade secret litigation, landlord tenant disputes, construction defect cases and other business disputes. She is an experienced employment law attorney familiar with the nuances of how employment law affects process servers.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                4:00 PM PDT
                %br
                (7:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-hire-quality-employees'}, href: '#'}
                  %img.align_right{:alt => "Adam Camras", :src => "https://s3.amazonaws.com/lawgical/assets/data/2226/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-hire-quality-employees'}, href: '#'} How to Hire Quality Employees for Your Process Serving Firm

                .font_small
                  %em Adam Camras

                #js-hire-quality-employees.font_small.hide
                  .break_small
                  %p Hiring quality employees can be a challenge for any company, but having the right process can mean the difference between high turnover and finding the best employees for your business. In this presentation Adam will discuss his philosophies about hiring and firing, running tests throughout the interview process, and interviewing.

                  %hr

                  .font_small
                    %h4
                      %strong Adam Camras

                    %p
                      ServeNow CEO
                      %br
                      Marketing Expert

                    %p

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                5:00 PM PDT
                %br
                (8:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-state-of-states'}, href: '#'}
                  %img.align_right{:alt => "Lance Randall", :src => "https://s3.amazonaws.com/lawgical/assets/data/2498/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-state-of-states'}, href: '#'} State of the States

                .font_small
                  %em Lance Randall

                #js-state-of-states.font_small.hide
                  .break_small
                  %p

                  %hr

                  .font_small
                    %h4
                      %strong Lance Randall

                    %p
                      FAPPS President
                      %br
                      NAPPS Secretary

                    %p Lance Randall is a third generation Process Server and the Founder/President of L.R.I. Process Service in Florida and has been a licensed process server in good standing since 1993. He is the current President of the Florida Association of Professional Process Servers, a position he has held going on four consecutive years where he previously served as their Secretary. He is also the current Secretary of the National Association of Professional Process Servers and a past Vice-President of the Miami-Dade Association of Professional Process Servers. In addition, Lance Randall is also a member of NARCA & the SBBA.

        %h3 Friday, March 27

        .table_padded
          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                8:30 AM PDT
                %br
                (11:30 AM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-server-serving-you'}, href: '#'}
                  %img.align_right{:alt => "Joann Needleman", :src => "https://s3.amazonaws.com/lawgical/assets/data/2338/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-server-serving-you'}, href: '#'} Is Your Server Serving You? 3rd Party Vendor Management

                .font_small
                  %em Joann Needleman

                #js-server-serving-you.font_small.hide
                  .break_small
                  %p Learn how to avoid some common pitfalls when it comes to third party vendor oversight as Joann discusses recent CFPB (Consumer Finance Protection Bureau) bulletins, consent orders and rules, and explains the service provider rule and the responsibility for all hired vendors. On debt collection, she will also discuss ANPR (Advance Notice of Proposed Rule Making), its effects on third party vendors and oversight as well.

                  %hr

                  .font_small
                    %h4
                      %strong Joann Needleman

                    %p
                      NARCA President
                      %br
                      Maurice &amp; Needleman

                    %p Joann is the current President of the National Association of Retail Collection Attorneys and Vice President of Maurice & Needleman, P.C., where she is the Managing Attorney of the firm’s Pennsylvania office. Joann has extensive litigation experience in state and federal courts, successfully defending creditors against claims brought under the Fair Debt Collection Practices Act, Fair Credit Reporting Act and, in Pennsylvania, under the Fair Credit Extension Uniformity Act. She provides counsel, consultation and litigation services to financial institutions, law firms and debt buyers throughout the country. Her many speaking engagements have included NARCA and American Bar Association events.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                9:30 AM PDT
                %br
                (12:30 PM EDT)
            .table_cell
              .box_gray.break_xs
                %h4.remove_margin_top
                  Sponsor Presentations

                .font_small
                  %em Sponsors

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                10:00 AM PDT
                %br
                (1:00 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-social-media'}, href: '#'}
                  %img.align_right{:alt => "Jared D. Correia, Esq.", :src => "https://s3.amazonaws.com/lawgical/assets/data/2250/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-social-media'}, href: '#'} Proceed as Follows: Leveraging Twitter for Business Development

                .font_small
                  %em Jared D. Correia, Esq.

                #js-social-media.font_small.hide
                  .break_small
                  %p Twitter has become an embedded international phenomenon -- and, the savviest businesspersons have incorporated the service into their marketing profiles, in order to reach target clients utilizing non-traditional applications to acquire their news and information.


                  %p Of course, if you’re going to take the time to market your business via a specific medium, you’ll want to develop a plan for proceeding.  Twitter can become a powerful tool for advertising your services, so long as you approach your campaign with a mind to creating coherent systems within these five categories:

                  %ul
                    %li Content Publication and Engagement Strategy
                    %li Integration with Other Platforms
                    %li Direct Client and Referral Marketing Programs
                    %li Managing Lead Conversions
                    %li Measuring Return on Investment

                  %p In this seminar, we’ll cover these topics, and some others, in order to help you to improve your Twitter

                  %hr

                  .font_small
                    %h4
                      %strong Jared D. Correia, Esq.

                    %p
                      Assistant Director, Senior Law Practice Advisor
                      %br
                      Massachusetts Law Office Management Assistance Program

                    %p Jared D. Correia, Esq. is the Assistant Director and Senior Law Practice Advisor at LOMAP. Before joining LOMAP, Jared managed CLE publications and the Casemaker research engine for the Massachusetts Bar Association.  He has also been a practicing lawyer, in small firms, where he mostly focused on personal injury, real estate and disability law.  Jared is a frequent speaker for local, regional and national lawyers’ groups.

                    %p He is a regular contributor to local and national legal publications, including "Attorney at Work", where his monthly column, ‘Managing’, appears.  Jared is the author of the American Bar Association publication "Twitter in One Hour for Lawyers".

                    %p He is the co-host of the ‘Legal Toolkit‘ podcast on Legal Talk Network, and is featured on a quarterly podcast at Solo Practice University. Jared presented at ABA TECHSHOW 2013, on remote access and social media marketing.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                10:50 AM PDT
                %br
                (1:50 PM EDT)
            .table_cell
              .box_gray.break_xs
                %h4.remove_margin_top
                  Break

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                12:30 PM PDT
                %br
                (3:30 PM EDT)
            .table_cell
              .box_gray.break_xs{style: 'overflow:hidden;'}
                %a{data: {'toggle' => '#js-skip-trace'}, href: '#'}
                  %img.align_right{:alt => "Neil Caddell", :src => "https://s3.amazonaws.com/lawgical/assets/data/2418/original.jpg", style: 'width:3.5em;margin-bottom:1em;'}

                %a{data: {'toggle' => '#js-skip-trace'}, href: '#'}
                  %img.align_right{:alt => "Mike Dores", :src => "https://s3.amazonaws.com/lawgical/assets/data/2419/original.jpg", style: 'width:3.5em;margin-bottom:1em;clear:left;'}

                %a{data: {'toggle' => '#js-skip-trace'}, href: '#'}
                  %img.align_right{:alt => "Robert Scott", :src => "https://s3.amazonaws.com/lawgical/assets/data/2426/original.jpg", style: 'width:3.5em;clear:right'}

                %a{data: {'toggle' => '#js-skip-trace'}, href: '#'}
                  %img.align_right{:alt => "Amanda DuPont", :src => "https://s3.amazonaws.com/lawgical/assets/data/2472/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-skip-trace'}, href: '#'} Panel: Skip Tracing & Data for Process Servers

                .font_small
                  %em
                    Mike Dores, Neil Caddell,
                    %br
                    Amanda DuPont, Robert Scott

                #js-skip-trace.font_small.hide
                  .break_small
                  %p Want to know how to be a better skip tracer? How process servers should be using data to execute service? How to use commercial databases to effectively locate people? And, how to make skip tracing a profit center? Panel Moderator Mike Dores has performed over 50,000 skip traces in his career. He knows how to find people and he knows the tools available. Mike will be joined by data experts to answer these questions and discuss tools, techniques and the business of skip tracing.

                  %hr

                  .cols.font_small
                    .col_half
                      %h4
                        %strong Mike Dores

                      %p
                        President
                        %br
                        Mike Dores Investigations

                      %p Mike is a licensed investigation agency that specializes in low-cost, high volume skiptracing.  Mike Dores Investigations' clients are primarily collection agencies, debt buyers, collection attorneys, private investigators and process serving companies.


                      %p Mike has been a licensed Private Investigator since 1981.  He has personally conducted over 50,000 skiptrace assignments.  Based on his need to inexpensively and quickly locate people, Mike was one of the first to make public records available on CD-ROM.  In 1991 he formed Merlin Information Services for the purpose of distributing public records on CD-ROM to collection agencies and investigators.  This new access to low-cost data, searchable in ways never before possible, revolutionized how collection agencies and investigators did skiptracing. In 1997, Merlin expanded to offering national databases on the Internet.


                      %p Mike sold Merlin in July, 2012 and opened Mike Dores Investigations in April 2013.  Mike Dores Investigations, much like Mike’s original investigation agency, specializes in high volume skiptracing and location of place of employment and bank accounts.  Mike Dores Investigations also has a team of skiptracers that specialize in difficult to locate individuals.  Mike currently supervises 15,000 – 20,000 place of employment and skiptrace assignments each month.


                      %p Mike has conducted dozens of one-hour to three-hour skiptracing seminars over the years and regularly speaks at PI, Collections and Attorney Service conferences.

                    .col_half
                      %h4
                        %strong Neil Caddell

                      %p
                        Manager–Specialized Risk, Licensed Investigator
                        %br
                        TransUnion

                      %p Neil has worked as a Licensed Private Investigator for over 20 years in Florida and New York, and has extensive management experience in his field. He has served on major investigations and insurance boards, and is a member of TALI, FALI and many other country-wide investigator groups.

                  .cols.font_small
                    .col_half
                      %h4
                        %strong Amanda DuPont

                      %p
                        Thomson Reuters Public Records Product Specialist

                      %p Amanda DuPont has over 16 years of professional experience in the legal industry and is a highly experienced investigative researcher and speaker. She is a licensed attorney and practiced law in Minneapolis for over eight years where she represented businesses in all types of legal advising roles – from class action litigation work to contracts and negotiations. Since joining Thomson Reuters in 2006, she has held roles in the company’s Sales and Account Management division where she has worked with every  segment of Thomson Reuters’ customer base on investigative/research based solutions from small law firms to global law firms to corporations to government agencies. In her current role as Public Records Product Specialist, Amanda works closely with both corporate commercial customers as well as Thomson Reuters New Product Development team to help develop innovative solutions in the public records arena, including Thomson Reuters’ flagship product CLEAR. Amanda holds a B.A. from the University of Wisconsin-Madison and a J.D. from William Mitchell College of Law. Amanda is based out of Minneapolis, MN.

                    .col_half
                      %h4
                        %strong Robert Scott

                      %p
                        California Licensed P.I.
                        %br
                        Founder and CEO
                        %br
                        Skip Smasher, Inc.

                      %p Robert Scott is a Los Angeles-based licensed private investigator, author, and information entrepreneur. He is the creator and CEO of SkipSmasher.com, one of the top skiptracing/investigative data websites in the United States. Started in 2004, Skip Smasher is the only top data service that is currently owned and operated by a licensed private investigator.


                      %p He also operates several open source websites for investigation including BlackBookOnline.info -- a top free public records search engine that maintains over 35,000 free lookups and is used by nearly 3 million people per year.


                      %p Prior to launching Skip Smasher, he worked as a private investigator specializing in difficult locates and wrote the best-selling reference books "The Investigator's Little Black Book" and "The Skiptracer’s Little Black Book".

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                1:30 PM PDT
                %br
                (4:30 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-lessons-learned'}, href: '#'}
                  %img.align_right{:alt => "Paula Ashcraft", :src => "https://s3.amazonaws.com/lawgical/assets/data/2083/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-lessons-learned'}, href: '#'} Lessons Learned … Process Service the 2nd Time Around

                .font_small
                  %em Paula Ashcraft

                #js-lessons-learned.font_small.hide
                  .break_small
                  %p With the launch of her 2nd process serving company Paula will speak on how her career experiences and technology advancements are playing a pivotal role in starting up a process serving company in the 2015.

                  %hr

                  .font_small
                    %h4
                      %strong Paula Ashcraft

                    %p
                      CEO
                      %br
                      Greentree Legal, LLC

                    %p Paula has 22 years of experience in the process serving industry. She began her career working as a process server as a way to supplement income. In 1996 she transitioned into business ownership with the launch of Legal Ease.  During the next 10 years she lead Legal Ease into a thriving, successful multi-office agency located in the Midwest.  In 2006 she sold Legal Ease and assumed the role of VP of Business Development with new owners.  In this role she assisted new company by diversifying corporate revenue streams. In recent years Paula consulted with small process serving agencies by  passing along knowledge of lessons learned. During this time as consultant she honed her marketing and operational skill set. As a serial entrepreneur it was only a matter of time for the ownership bug to strike again.  In January 2015 Paula joined forces with Cheri’ LaEace (formerly with Southern Ohio Legal Services) to begin Greentree Legal, LLC. With the launch of her 2nd process serving company Paula’s career experiences are certain to play a pivotal role in the success of her latest venture.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                2:30 PM PDT
                %br
                (5:30 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-compliance'}, href: '#'}
                  %img.align_right{:alt => "Rick Keeney", :src => "https://s3.amazonaws.com/lawgical/assets/data/2388/original.jpg", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-compliance'}, href: '#'} Compliance, a Process Servers Perspective

                .font_small
                  %em Rick Keeney

                #js-compliance.font_small.hide
                  .break_small
                  %p Rick Keeney, a 30+ year veteran of the process serving industry, has built one of the most successful process serving firms in the nation from the ground up. Earning some of the most sought after contracts in Texas and nationwide has not come by accident. Rick will talk about how Professional Civil Process has met the compliance requirements set forth by government agencies and high volume litigants as he takes you on a tour of PCP headquarters.

                  %hr

                  .font_small
                    %h4
                      %strong Rick Keeney

                    %p
                      CEO
                      %br
                      Professional Civil Process

                    %p Rick Keeney, President and Founder, has been dynamically active in the process serving industry for over 35 years. He was instrumental in the establishment of two nationally recognized professional process server associations, The National Association of Professional Process Servers (NAPPS) and the Texas Process Servers Association (TPSA). He has also presented testimony before eight sessions of the Texas Legislature to improve the standards of the process serving industry.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                3:30 PM PDT
                %br
                (6:30 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-sell-pitch-profit'}, href: '#'}
                  %img.align_right{:alt => "Michael Kern", :src => "https://s3.amazonaws.com/lawgical/assets/data/2227/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-sell-pitch-profit'}, href: '#'} Selling, Pitching and Profit

                .font_small
                  %em Michael Kern

                #js-sell-pitch-profit.font_small.hide
                  .break_small
                  %p Mike will discuss his approach to sales and growing his client base. He'll cover how you pitch your team's competitive advantage and how he's transitioned from managing his firm's business development on his own to delegating this to a sales force. In addition Mike will talk about the importance of analyzing your agreements and pricing. Volume doesn't always equate to profit. Know what clients and deals avoid in this presentation at ServeCon.

                  %hr

                  .font_small
                    %h4
                      %strong Michael Kern

                    %p
                      CALSPro Past President
                      %br
                      Kern Legal Services

                    %p Michael grew up in an attorney service family. His father, Dave Kern, started what is now Kern Legal Services in 1961. Since taking over the company, Michael has been able to grow his company from a "mom and pop" operation to one of the largest firms in California. Michael has been a member of CALSPro since 1994. Over his twenty years in the association he has served in many capacities, been named member of the year twice and is the current immediate past President. Michael is an accomplished industry speaker and recently spoke at the California Association of County Clerks presenting alternatives to California's current process server registration program.

          .table_row
            .table_cell.cell_collapse
              .font_small.text_right
                4:30 PM PDT
                %br
                (7:30 PM EDT)
            .table_cell
              .box_gray.break_xs
                %a{data: {'toggle' => '#js-minority-status'}, href: '#'}
                  %img.align_right{:alt => "Torri Schaffer", :src => "https://s3.amazonaws.com/lawgical/assets/data/2248/original.png", style: 'width:3.5em;'}

                %h4.remove_margin_top
                  %a{data: {'toggle' => '#js-minority-status'}, href: '#'} Obtaining Minority Status: Benefits and How to Get Started

                .font_small
                  %em Torri Schaffer

                #js-minority-status.font_small.hide
                  .break_small
                  %p Torri’s Legal Services recently attained minority status for being a woman-owned company, making the company eligible for the percentage of state contracts that must go to minority businesses. In her presentation, Torri will walk you through the steps her company took to achieve this certification and the benefits. Learn about what qualifies as a minority business, what documentation had to be provided, what visits and interviews are necessary, and how to apply.

                  %hr

                  .font_small
                    %h4
                      %strong Torri Schaffer

                    %p
                      MAAPPS Founder
                      %br
                      Torris Legal Services

                    %p



        %p.font_small <em>Sessions and times are subject to change.</em>

        -#.cols
          .col_half{style: 'height:30em;'}
            .break_small
              %strong Thursday
              .font_small March 26

            .box_session.font_small{style: 'height:20%;'}
              %strong
                %a Is Your Server Serving You? 3rd Party Vendor Management
              <br>00am &ndash; 00am

            .box_session.font_small{style: 'height:20%;'}
              %strong
                %a Lorem Ipsum Dolor
              <br>00am &ndash; 00am

            .box_session.font_small{style: 'height:20%;'}
              %strong
                %a Lorem Ipsum Dolor
              <br>00am &ndash; 00am

          .col_half{style: 'height:30em;'}
            .break_small
              %strong Friday
              .font_small March 27

            .box_session.font_small{style: 'height:20%;'}
              %strong
                %a Lorem Ipsum Dolor
              <br>00am &ndash; 00am

            .box_session.font_small{style: 'height:20%;'}
              %strong
                %a Lorem Ipsum Dolor
              <br>00am &ndash; 00am

            .box_session.font_small{style: 'height:20%;'}
              %strong
                %a Lorem Ipsum Dolor
              <br>00am &ndash; 00am

    #a-register.bg_gray_light.row_padded.text_center
      .align_center{style: 'max-width:38em;'}
        %h2.remove_margin_top Buy or Rent

        %p Recordings from ServeCon 2015 are now available for purchase or rental.

        %p
          %a.btn{:href => "https://www.youtube.com/playlist?list=PLld2CrOWUS9z25vP2jSi-fuSmEDi2sQvM"} Watch Now

        -#.break_small
          <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=12360551743&ref=etckt" frameborder="0" height="500" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/servecon-tickets-12360551743?ref=etckt">ServeCon</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

        / .font_large.break_small Don’t miss early-bird registration, plus other updates.

        / .break_small
        /   %form{:action => "https://lawgical.us1.list-manage.com/subscribe/post?u=09484b89bab5e6eca6d257fd0&id=d0c7e7e1b6", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", class: 'field_inline_btn'}
        /     / real people should not fill this in and expect good things - do not remove this or risk form bot signups
        /     %div{:style => "position: absolute; left: -5000px;"}
        /       %input{:name => "b_09484b89bab5e6eca6d257fd0_d0c7e7e1b6", :tabindex => "-1", :type => "text", :value => ""}
        /     %input{:name => "EMAIL", :placeholder => "Email Address", :required => "", :type => "email", :value => ""}
        /     %input{:name => "subscribe", :type => "submit", :value => "Notify Me"}

        -#%p ServeCon is an online conference on the business of process serving. Save on hotels, airfare, and travel expenses, because you can attend from anywhere. <!--Sign up now and be the first to get alerts on registration details, Early Bird Pricing, speakers,  topics, sponsors, and more.-->

    .row_padded.text_center
      .align_center{style: 'max-width:55em;'}
        %h2.remove_margin_top.break_small Sponsors

        .cols.break_medium
          .col_one_third
            %a{href: 'http://www.serve-now.com/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2202/original.png"}

          .col_one_third
            %a{href: 'https://www.servemanager.com/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2203/original.png"}

          .col_one_third
            %a{href: 'http://www.tristarsoftware.com/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2399/original.png"}

        .cols.break_medium
          .col_one_third
            %a{href: 'http://www.tlo.com/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2398/original.png"}

          .col_one_third
            %a{href: 'https://www.onelegal.com/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2436/original.png"}

          .col_one_third
            %a{href: 'http://www.processmaster.net/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2485/original.png"}

        %p.font_small
          Want to be a sponsor?
          %a{:href => "contact.html"} Contact us
          for more details.

    %hr

    .row_padded.text_center
      .align_center{style: 'max-width:40em;'}
        %h2.remove_margin_top.break_small Association Partners

        .cols.break_medium
          .col_one_fourth
            %a{href: 'http://psaco.org/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/765/original.png"}

          .col_one_fourth
            %a{href: 'http://calspro.org/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/762/original.png"}

          .col_one_fourth
            %a{href: 'http://ncapps.org/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/764/original.png"}

          .col_one_fourth
            %a{href: 'http://www.maapps.org/'}
              %img{:src => "https://s3.amazonaws.com/lawgical/assets/data/2482/original.png"}

        %p.font_small
          Want to be a partner?
          %a{:href => "contact.html"} Contact us
          for more details.

    #footer.row_padded.bg_purple_xdark.text_white
      .align_center{style: 'max-width:55em;'}
        .cols
          .col_half
            %h3 About ServeCon
            %p ServeCon is an online conference offered to all members of the process serving profession. Covering all aspects of running a successful business - marketing, technology, software, operations and legislation - this is the conference for you. <!--Provide your email above or check back soon for more info on speakers, dates and pricing.-->

          .col_half
            %h3 Why Attend ServeCon?
            %p Presented using remote conference technology, ServeCon gives attendees access to engaging speakers and educational session from the comfort of their home or office. Don't worry about the cost of travel and lodging, because we’ll bring the most relevant industry speakers to you. ServeCon is all about education and improving your business. We might even send some goodies your way for that conference feel!

      .text_center
        %h3 Stay Connected

        %p Follow us on social media for more updates.

        .break_large
          %a.remove_border_bottom{:href => "http://www.twitter.com/servenow"}
            %span.fa.fa-twitter.fa-2x

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          %a.remove_border_bottom{:href => "http://www.facebook.com/servenow"}
            %span.fa.fa-facebook.fa-2x

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          %a.remove_border_bottom{:href => "https://plus.google.com/114874168392370480712"}
            %span.fa.fa-google-plus.fa-2x

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          %a.remove_border_bottom{:href => "https://www.linkedin.com/groups?gid=1447297"}
            %span.fa.fa-linkedin.fa-2x

        .font_small &copy; Copyright ServeCon. All rights reserved.

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    %script{src: "script.min.js"}
